<mat-accordion>
  <mat-expansion-panel [expanded]="toggleState">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Agregar Nota
      </mat-panel-title>
      <mat-panel-description>
        Selecciona una categoria
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="Titulo de la nota" [(ngModel)]="nota.titulo">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Categoria" [(ngModel)]="nota.categoria">
        <mat-option *ngFor="let categoria of categorias" [value]="categoria">
          {{ categoria }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Cuerpo de la nota" [(ngModel)]="nota.cuerpo"></textarea>
    </mat-form-field>
    <mat-action-row>
      <button mat-raised-button (click)="guardarNota()">Guardar</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>


<mat-card *ngFor="let nota of notas">
  <div *ngIf="nota.auth == userId">
    <mat-card-title>{{ nota.titulo }}</mat-card-title>
    <mat-card-subtitle>{{ nota.categoria }}</mat-card-subtitle>
    <mat-card-content>
      <p>
        {{ nota.cuerpo }}
      </p>
      <small>{{ nota.id | date}}</small>
    </mat-card-content>
    <button mat-raised-button (click)="selectNota(nota)">Editar</button>
    <button mat-raised-button (click)="eliminarNota(nota)">Eliminar</button>
  </div>
</mat-card>